<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Salary</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let employee of employeeList">
        <th scope="row">{{employee.employeeId}}</th>
        <td>{{employee.employeeName}}</td>
        <td>{{employee.employeeAge}}</td>
        <td>{{employee.employeeEmail}}</td>
        <td>{{employee.employeePhone}}</td>
        <td>{{employee.employeeSalary}}</td>
        <td>
          <button class="btn btn-dark" (click)="edit(employee.employeeId)">Edit</button> 
          <button class="btn btn-danger" (click)="delete(employee.employeeId)">Delete</button>
        </td>
      </tr>
    
    </tbody>
  </table>